<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Main Page</title>
    <script src="../static/scripts.js"></script>
    <link rel="stylesheet" href="../static/main_page.css">
</head>
<body>
    <p>Hello! Type in your task below: <br></p>
    <div class="tasks">
        <br>    
        <form method="POST">
            {{form.hidden_tag()}}

            <div>
                {{form.task.label}}
                {{form.task()}}
            </div>
            <div>
                <br>
                {{form.submit()}}
            </div>
        </form>
    </div>
    <div>
        <p>Tasks Inputed:<br></p>
        {% for value in values%}
        <p>{{loop.index}}.{{value}}<br></p>
        {% endfor %} <!--ends the for loop, hence 'endfor'-->

    </div>
    <!--
    <button onclick="" id="delete_button">Delete Task</button>
    <button onclick="" id="finish_button">Finish Task</button>
    -->
    
</body>
</html>


