<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Main Page</title>
    <script src="../static/main_pg_script.js"></script>
    <link rel="stylesheet" href="../static/main_page.css">
</head>
<body>
    <p>Hello! Type in your task below: <br></p>
    <form method="post" action=''>
        <label for="task_name">Task: </label>
        <input type="text" id="task_name" name="task">
        
    </form>
    <div class="actions">
        <br>    
        <button onclick="">Delete Task</button>
        <button>Finish Task</button>
    </div>
    <p>Your task is: <br><br>{{ task | nl2br }}</p>
</body>
</html>



